body {
  padding: 20px;
  margin: 40px;

  background-image: radial-gradient(
    circle,
    rgba(2, 116, 51, 1) 0%,
    rgba(33, 29, 99, 1) 100%
  );
}
/*Estilos pra el tìtulo de contacto*/
div h3 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px #000;
}

.contacto header h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    text-shadow: 2px 2px #000;
    
}
.contacto {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .contacto header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #666;
  }
  
  .contacto img{
    width: 90px;
    
  }
  