body {
  padding: 20px;
  margin: 40px;
  background-image: radial-gradient(
    circle,
    rgba(2, 116, 51, 1) 0%,
    rgba(33, 29, 99, 1) 100%
  );
}
/*ESTILOS PARA LA BARRA DE NAVEGACIÓN*/
.menu-barr {
  background-color: rgba(2, 116, 51, 1), rgba(33, 29, 99, 1);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0.1, 0.2);
}

nav .item {
  color: white;
  font-size: 24px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  text-decoration: none;
}
/* Estilos para los nombres */
.nom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 4px 4px #000;
}
.apellidos .apellido {
  display: flex;
  font-size: 100px;
  justify-content: flex-end;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.nombres .nombre {
  display: flex;
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-align: right;
}
/*Estilo para el nav */
.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/*Estilos del body*/

.bienvenido h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 90px;
  text-align: center;
  color: bisque;
  text-decoration: line-through;
  text-shadow: 4px 4px #ff0000;
}
.bienvenido {
  width: 550px;
  height: 400px;
  margin: 0 auto;
}

div.cuadro h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 90px;
  color: tomato;
  text-align: right;
  text-decoration: overline;
}
/*Estilos para el footer*/
